<header class="site-header">
    <div class="container">
        <h1 class="site-title">Consignaria RTR</h1>
        <nav class="site-nav">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Página 1</a></li>

                <li><a routerLink="/about-us" routerLinkActive="active">Página 3</a></li>
                <li><a href="#">Página 4</a></li>
                <li><a href="#">Página 5</a></li>
            </ul>
        </nav>
        <div class="search-icon">
            <svg viewBox="0 0 24 24">
                <path
                    d="M15.5 14h-.79l-.28-.27a6.471 6.471 0 001.48-5.34C15.34 5.01 12.36 2 8.67 2S2 5.01 2 8.67c0 3.66 2.99 6.67 6.67 6.67 1.61 0 3.09-.56 4.27-1.48l.27.28v.79l4.25 4.25c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L15.5 14zm-6.83 0C6.01 14 4 11.99 4 9.67c0-2.32 2.01-4.33 4.67-4.33 2.32 0 4.33 2.01 4.33 4.33 0 2.32-2.01 4.33-4.33 4.33z" />
            </svg>
        </div>
    </div>
</header>